.mainHeader {
    padding-left: 43%;
  height: 60;
  background-color: white;
  color: black;
  font-family: 'Times New Roman', Times, serif;
}

.test {
    float: right; 
}

#day {
    width: 10px;
    outline-style: solid;
    outline-color: black;
    outline-width: .1px
}